MAINNET_ERIGON_TAG=

# leave empty if you do not want ssl
HOST=
SUBDOMAIN=

# List of addresses that can connect to the server (empty if you do not want to block ips)
WHITELIST=(white-ip-1 white-ip-2)

ERIGON_UID=0
ERIGON_GID=0

# database path
DATABASE_PATH=
CONFIG_PATH=