ARBITRUM_NITRO_TAG=
ARBITRUM_CLASSIC_TAG=

# leave empty if you do not want ssl
HOST=
SUBDOMAIN=

# List of addresses that can connect to the server (empty if you do not want to block ips)
WHITELIST=(white-ip-1 white-ip-2)

# mainnet rpc execution layer
MAINNET_RPC_EXECUTION=http://mainnet:8545

# mainnet rpc consensus layer
MAINNET_RPC_CONSENSUS=http://mainnet:5555

# mainnet docker container network
# needed if you are running the mainnet node locally in a docker container
MAINNET_LOCAL_NETWORK=

# database path
NITRO_DATABASE_PATH=
CLASSIC_DATABASE_PATH=