ERIGON_TAG=
ERIGON_UID=0
ERIGON_GID=0

# leave empty if you do not want ssl
HOST=
SUBDOMAIN=

# list of addresses that can connect to the server (empty if you do not want to block ips)
WHITELIST=(white-ip-1 white-ip-2)

# database path
DATABASE_PATH=
CONFIG_PATH=
HEIMDALL_PATH=

# port
PORT_PEERING_66=
PORT_PEERING_67=
PORT_SNAP=
PORT_SENTINEL_UDP=
PORT_SENTINEL_TCP=
